@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.swiper {
  width: 550px;
}
section .card .image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #1300a2;
}
section .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.card {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}
.card::before {
  content: "";
  position: absolute;
  height: 48%;
  width: 100%;
  background: #4a36e2;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}
.card .media-icons {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 1s ease;
  cursor: pointer;
}
.card .media-icons i:hover {
  opacity: 1;
}
.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}
.name-profession .profession {
  font-size: 15px;
  font-weight: 600;
}
.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}
.card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.card .rating i {
  font-size: 18px;
  margin: 0 2px;
  color: #4a36e2;
}
.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  background: #4a36e2;
  outline: none;
  border: none;
  color: white;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card button:hover {
  background: #434249;
}
